body {
    background-color: #3c2f2f;
}

.cream {
    background-color: #fff4e6;
}

.velvet {
    background-color: #854442;
}

.medium-roast {
    background-color: #4b3832;
}

.dark-roast {
    background-color: #3c2f2f;
}

.light-roast {
    background-color: #be9b7b;
}

.box {
    width: 80%;
    margin-bottom: 20px;
    padding: 0px 15px;
    border-radius: 12px;
    /* border-color: #22cc77; */
}

.main-box {
    margin-bottom: 20px;
    padding: 15px 15px;
    border-radius: 15px;
}

#AddToCart,
b {
    display: inline;
}
img {
    width: 200px;
    height: 220px;
}

.container {
    width: 80%;
}
.column,
.columns {
    margin-left: 4%;
}
.column:first-child,
.columns:first-child {
    margin-left: 0;
}

.one.column,
.one.columns {
    width: 4.66666666667%;
}
.two.columns {
    width: 13.3333333333%;
}
.three.columns {
    width: 22%;
}
.four.columns {
    width: 30.6666666667%;
}
.five.columns {
    width: 39.3333333333%;
}
.six.columns {
    width: 48%;
}
.seven.columns {
    width: 56.6666666667%;
}
.eight.columns {
    width: 65.3333333333%;
}
.nine.columns {
    width: 74%;
}
.ten.columns {
    width: 82.6666666667%;
}
.eleven.columns {
    width: 91.3333333333%;
}
.twelve.columns {
    width: 100%;
    margin-left: 0;
}

.one-third.column {
    width: 30.6666666667%;
}
.two-thirds.column {
    width: 65.3333333333%;
}

.one-half.column {
    width: 48%;
}
