.cream {
    background-color: #fff4e6;
}

.velvet {
    background-color: #854442;
}

.medium-roast {
    background-color: #4b3832;
}

.dark-roast {
    background-color: #3c2f2f;
}

.light-roast {
    background-color: #be9b7b;
}

.box {
    background-color: #854442;
    width: auto;
    margin-bottom: 20px;
    padding: 0px 15px;
    border-radius: 12px;
    /* border-color: #22cc77; */
}

.main-box {
    background-color: #be9b7b;
    width: auto;
    margin-bottom: 20px;
    padding: 15px 15px;
    border-radius: 15px;
}

#AddToCart,
b {
    display: inline;
}
img {
    width: 200px;
    height: 220px;
}
#Sell-Form-Button {
    margin-left: -20%;
}

#cart-button {
    margin-right: -20%;
}

/* BOOTSTRAP THINGS */
.container {
    width: 80%;
    display: inline-block;
}
.column,
.columns {
    margin-left: 4%;
}
.column:first-child,
.columns:first-child {
    margin-left: 0;
}

.one.column,
.one.columns {
    width: 4.66666666667%;
}
.two.columns {
    width: 13.3333333333%;
}
.three.columns {
    width: 22%;
}
.four.columns {
    width: 30.6666666667%;
}
.five.columns {
    width: 39.3333333333%;
}
.six.columns {
    width: 48%;
}
.seven.columns {
    width: 56.6666666667%;
}
.eight.columns {
    width: 65.3333333333%;
}
.nine.columns {
    width: 74%;
}
.ten.columns {
    width: 82.6666666667%;
}
.eleven.columns {
    width: 91.3333333333%;
}
.twelve.columns {
    width: 100%;
    margin-left: 0;
}

.one-third.column {
    width: 30.6666666667%;
}
.two-thirds.column {
    width: 65.3333333333%;
}

.one-half.column {
    width: 48%;
}

/* NOT MINE */

/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows so the animation is smooth. Otherwise, you'll get something choppy.
*/

/* Animate the size, inside */
.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

/* Animate the size, outside */
.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(#fff, 0);
}

/* Stack multiple shadows, one from the left, the other from the right */
.close:hover,
.close:focus {
    box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

/* Size can also be negative; see how it's smaller than the element */
.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

/* Animating from the bottom */
.up:hover,
.up:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

/* And from the left */
.slide:hover,
.slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
}

/* Multiple shadows, one on the outside, another on the inside */
.offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}

/* Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties. */
button {
    background-color: #fff4e6;
    color: #4b3832;
    transition: 0.25s;
}

/* === Pen styling, ignore */
body {
    background: #16181c;
    color: #0a0a0a;
    font: 300 1em 'Fira Sans', sans-serif;

    /* Center everything ever */
}

/* Basic button styles */

h1 {
    font-weight: 400;
}

/* TO SEE BOXES: GREAT FOR VISUALIZATION */
/* * {
    border: 1px solid gray;
} */

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* appearance: none; */
}
textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
    border: 1px solid #33c3f0;
    outline: 0;
}
label,
legend {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
fieldset {
    padding: 0;
    border-width: 0;
}
input[type='checkbox'],
input[type='radio'] {
    display: inline;
}
label > .label-body {
    display: inline-block;
    margin-left: 0.5rem;
    font-weight: normal;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: circle inside;
}
ol {
    list-style: decimal inside;
}
ol,
ul {
    padding-left: 0;
    margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}
li {
    margin-bottom: 1rem;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
    padding: 0.2rem 0.5rem;
    margin: 0 0.2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}
pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
}
th:first-child,
td:first-child {
    padding-left: 0;
}
th:last-child,
td:last-child {
    padding-right: 0;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}
.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}
.u-pull-right {
    float: right;
}
.u-pull-left {
    float: left;
}

.extreme-left {
    float: left;
    position: relative, absolute, fixed;
    padding: left;
}

.wide {
    float: left;
    width: 300px;
}

.narrow {
    float: right;
    width: 350px;
}

.bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
}

.bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #e1e1e1;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
    content: '';
    display: table;
    clear: both;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
